// Navigation Styles here

header {
    width: 100%;
    .border;
    div.nav-container {
        // .red;
    .center;
    justify-content: space-between;
    max-width: 1000px;
    padding: 24px 100px;
    margin: 0 auto;
    nav {
        // .red;
        .center;
        justify-content: space-around;
        padding-right: 14px;
        a {
            font-size: 1.6rem;
            padding: 0 15px;
        }
        img {
            width: 100%;
        }
    }
    }
  }
