// Navigation Styles here

header {
    // .red;
    .center;
    justify-content: space-between;
    max-width: 1000px;
    padding: 24px 100px;
    margin: 0 auto;
    border-bottom: 2px dashed @silver;
  }

nav {
    // .red;
    .center;
    justify-content: space-around;
    padding-right: 14px;
    a {
        font-size: 1.6rem;
        padding: 0 15px;
    }
}